<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Listings:</strong>
  <%= @order.listings_id %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @order.datetime %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @order.completed %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
