<h2 id="login-title">Edit <%= resource_name.to_s.humanize %></h2>
<div class="edituser-form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="user_info">
    <strong>Username:</strong> <%= current_user.username %>
  </div>

  <div class="user_info">
    <strong>First Name:</strong> <%= current_user.fname %>
  </div>

  <div class="user_info">
    <strong>Last Name:</strong> <%= current_user.lname %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> 
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
  <p><i>(leave blank if you don't want to change it)</i></p>

  <div class="field" id="password-field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field" id="password-field">
    <%= f.label :current_password %> 
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <p><i>(we need your current password to confirm your changes)</i></p>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<section id="postal-address">
  <h3>Postal Address</h3>
  <% if current_user.address == nil %>
  <% else %>
  <%= current_user.address.houseno %>
  <%= current_user.address.street %>
  <%= current_user.address.state %>
  <%= current_user.address.postcode %>
  <% end %>
</section>

<% if current_user.address == nil %>
<%= link_to "Create an Postal Address", new_address_path %>
<% else %>
<%= link_to "Edit Postal Address", edit_address_path(current_user.address.id) %>
<% end %>

<section id="user-cancel">
<h3>Cancel my account</h3>
<p>
  Unhappy? 
</p>
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
</section>
<%= link_to "Back", :back %>
</div>