<p id="notice"><%= notice %></p>

<h2 id="table-title">Plants For Sale</h2>
<section id="listing-section">
  <% @listings.each do |listing| %>
    <article class="plant-listing">
    <p class="plant-listing-field" id="name"><%= link_to listing.name, listing %></p>
    <p class="plant-listing-img">
      <% if listing.image != nil %>
        <%= image_tag listing.image, width: 200 %>
      <% end %>
    </p>
    <p class="plant-listing-field" id="species"><%= listing.species %></p>
    <p class="plant-listing-field" id="price-av">$<%= listing.price %></p>
    </article>
    <% end %>
</section>

