<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @listing.user_id %>
</p>

<p>
  <strong>Species:</strong>
  <%= @listing.species %>
</p>

<p>
  <strong>Info:</strong>
  <%= @listing.info %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @listing.price %>
</p>

<% if current_user.order && current_user.order.listings.include?(@listing) %>
  <p>You've already added this item to your order!</p>
<% else %>
  <%= link_to 'Add to Order', addtoorder_path(@listing) %>
<% end %>
