<!DOCTYPE html>
<html>
  <head>
    <title>Src</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Crimson+Text:400,700&display=swap" rel="stylesheet">

      <h1 id="site-heading">The Green Market</h1>

      <hr>

      <ul id="navbar">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "All Listings", listings_path %></li>
        <% if current_user %>
          <li><%= link_to 'My Order', myorder_path %></li>
          <li><%= link_to 'My Listings', mylistings_path %></li>
          <li><%= link_to 'My Profile',edit_user_registration_path %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <% end %>
      </ul>
      <hr>
    </header>

    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <%= yield %>
  </body>
</html>
